<!DOCTYPE html>
<html>
  <head>
    <title>MyCovidRules</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  </head>

  <body>
    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
